$default: #1b3764;
$hover: #4d7ecc;
$accent: #ffca42;
$text-color: #b4c7e7;
$textwhite: #f6f8fc;
$textgray: #969aa0;

%btn {
   @extend %merienda-400;
   background-color: $accent;
   font-size: 19px;
   line-height: 28px;
   letter-spacing: 0.57px;
   text-transform: capitalize;
   color: $default;
   border: none;
   cursor: pointer;
   transition: all 0.2s;

   &:hover {
      color: $accent;
      background-color: $hover;
   }
}

%merienda-400 {
   font-family: 'Merienda-Regular', sans-serif;
   font-weight: 400;
}

%merienda-700 {
   font-family: 'Merienda-Bold', sans-serif;
   font-weight: 700;
}
